*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #6eefa8;
    font-family: sans-serif;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar .logo{
    font-size: 24px;
    font-weight: bold;
}
.navbar .nav-links a{
    margin-left: 100px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#header{
    background-color: #e6e5e5;
    padding: 30vh;
    width: 100%;
    height: 100vh;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: url('WelcomePage.png');
    background-size: cover;
    background-position: center;
    opacity: 0.73;
}
#header h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

#header p{
    margin-bottom: 30px;
    font-size: 20px;
    color: white;
}

#header button{
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(24, 224, 24);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

#content{
    margin-left: 50px;
}

#content h4{
    margin-left: -7px;
    text-align: left;
    margin-top: 20px;
    margin-left: 45px;
}

#content p{
    margin-right: 30%;
    margin-top: 10px;
}


/* .card{
    margin-top: 20px;
    padding: 10px;
    padding-right: 10%;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: inline-flex;
    background-color: rgb(205, 204, 204);
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 40px; */
/* } */

.card{
    background-color: rgb(221, 220, 220);
    padding: 20px;
    border-radius: 10px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 5px;
    margin-top: 20px;
}

.card ul, .card li{
    text-align: left;
    margin-left: 30px;
}


.card-button{
    margin-top: 20px;
    margin-left: 45px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: grey;
    color: white;
}

body button:hover{
    opacity: 0.9;
    transform: translateY(-1px);
    box-shadow: #000000;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.product {
    /* background: linear-gradient(135deg, #fefeff, #434343); */
    background-color: rgb(212, 212, 212);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 18px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.product:hover {
    transform: translateY(-5px);
}

.section{
    margin-left: 50px;
}

#contact{
    text-align: center;
    padding: 20px;
    background-color: #a7f09d;
    margin-top: 40px;
    height: 82vh;
}
#contact form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 10px auto 20px auto;
    padding-top: 50px;
    row-gap: 10px;
}

#contact input, #contact textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: sans-serif;
}

#contact button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0e7900;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#footer{
    text-align: center;
    padding: 20px;
    background-color: #4bce39;
    color: white;
}